body {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    overflow: hidden;
}
header {
    width: calc(100% - 10px);
    height: 85px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

button {
    width: 90%;
    height: 90%;
    margin: 5px;
}
.opened {
    border: 2px solid black;
}
iframe {
    width: 100%;
    height: calc(100% - 95px);
}
