body {
    background-color: lightblue;
}
.event {
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    max-width: 480px;
    margin: 5px;
    float: left;
}
.event img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#prevImgContainer {
    text-align: center;
}
.eventInput {
    width: 100%;
}
